.collection {
    column-width: 280px;
    background-color: grey;
    -webkit-column-count: 4; /* Chrome, Safari, Opera */
    -moz-column-count: 4; /* Firefox */
    column-count: 4;
}  
.collection{
    @media (max-width : 779px) and (min-width: 0px) {
        column-count: 2;
    }
    @media (max-width : 1039px) and (min-width: 780px) {
         column-count: 3;
    }
    @media (max-width : 1299px) and (min-width: 1040px) {
         column-count: 3;
    }
    @media (min-width: 1300px) {
         column-count: 3;
    }
 
 }
 
.collection-item{
    height: auto;
    margin-top:15px;
    margin: 2%;
    background-color: #fff;
    width: 100%;;
    -webkit-column-break-inside: avoid; /* Chrome, Safari */
    page-break-inside: avoid;           /* Theoretically FF 20+ */
    break-inside: avoid-column;         /* IE 11 */
    display:table;     
}